.dropdown {
  margin-right: 5px;
  margin-bottom: 5px;

  &-menu.show {
    display: grid;
    grid-template-columns: 1fr;

    @include screen-above(mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-item {
    white-space: normal;
    color: white;

    @include screen-above(mobile) {
      width: 150px;
    }
  }

  &-toggle {
    border: 0;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  input {
    &::placeholder {
      color: white;
    }

    &:focus::placeholder {
      opacity: 0.5;
    }

    @include screen-above(mobile) {
      &:focus-visible {
        width: 450px;
        transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

#dropdown {
  &-ingredients {
    background-color: $bg-color-blue;
  }

  &-devices {
    background-color: $bg-color-green;
  }

  &-ustensils {
    background-color: $bg-color-orange;
  }
}

.menu {
  &-ingredients.show {
    background-color: $bg-color-blue;
  }

  &-devices.show {
    background-color: $bg-color-green;
  }

  &-ustensils.show {
    background-color: $bg-color-orange;
  }
}
