.recipes {
  display: grid;
  gap: 20px;
  margin-top: 20px;

  @include screen-above(mobile) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  .recipe {
    &__card {
      border-radius: 5px;
      background-color: #e7e7e7;
    }
  }
}
